<%# .section.section-page.section-showoff %>
<div class="flex flex-col gap-12 sm:gap-20 py-12">
  <%= render "paris_rb" %>
  <%= render "latest_videos", videos: @videos %>
  <%= render "next_meetup", lineup_talks: @lineup_talks %>
  <%= render "sponsors", sponsors: @sponsors %>
</div>
